<div class="organizer-form bg-blue-950 rounded-md p-5">
  <p class="organizer-title text-blue-100 text-2xl font-semibold">Tasks</p>

  <form nz-form (ngSubmit)="addTask()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a task name">
        <nz-input-group nzPrefixIcon="check-square">
          <input
            nz-input
            type="text"
            id="organizer-input"
            placeholder="Task Title"
            [(ngModel)]="taskName"
            name="taskName"
            required
          />
          <button nz-button nzType="primary" type="submit">Add</button>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div class="task-container">
    @if (allTodos$ | async; as todos) {
      @if (!todos.length) {
        <div class="text-blue-100 text-center">
          No tasks yet. Add some tasks to get started!
        </div>
      } @else {
        @if (activeTodos$ | async; as activeTodos) {
          <div class="text-blue-100 text-lg">Active tasks</div>
          <ul class="todo-list">
            @for (todo of activeTodos; track todo.id) {
              <li class="todo-item cursor-pointer" (click)="onTaskCompletionUpdate(todo.id)">
                <span class="text-base" [class.completed]="todo.isCompleted">{{ todo.name }}</span>
                <span class="delete-button">
                <nz-icon class="text-base cursor-pointer" nzType="close" nzTheme="outline" (click)="onTaskDelete(todo.id)" />
              </span>
              </li>
            } @empty {
              <div class="text-white">
                No active tasks. All are completed
              </div>
            }
          </ul>
        }

        @if (completedTodos$ | async; as completedTodos) {
          <div class="text-blue-100 text-lg">Completed tasks</div>
          <ul class="todo-list">
            @for (todo of completedTodos; track todo.id) {
              <li class="todo-item cursor-pointer" (click)="onTaskCompletionUpdate(todo.id)">
                <span class="text-base" [class.completed]="todo.isCompleted">{{ todo.name }}</span>
                <span class="delete-button">
                <nz-icon class="text-base cursor-pointer" nzType="close" nzTheme="outline" (click)="onTaskDelete(todo.id)" />
              </span>
              </li>
            } @empty {
              <div class="text-white max-w-[22rem]">
                No completed tasks. Click on a task name to mark it as completed
              </div>
            }
          </ul>
        }
      }
    }
  </div>
</div>
