<div class="organizer-form bg-blue-950 rounded-md p-5 overflow-hidden max-h-[70vh]">
  <p class="organizer-title text-blue-100 text-2xl font-semibold">Tasks</p>

  <form nz-form (ngSubmit)="addTask()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input a task name">
        <nz-input-group nzPrefixIcon="check-square">
          <input
            nz-input
            type="text"
            id="organizer-input"
            placeholder="Task Title"
            [(ngModel)]="taskName"
            name="taskName"
            required
          />
          <button nz-button nzType="primary" type="submit">Add</button>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div class="task-container">
    @if (allTodos$ | async; as todos) {
      @if (!todos.length) {
        <div class="text-blue-100 text-center">
          No tasks yet. Add some tasks to get started!
        </div>
      } @else {
        <nz-pagination
          class="task-pagination bg-white rounded"
          nzSimple
          [nzDisabled]="false"
          [nzPageIndex]="pageIndex"
          [nzTotal]="paginationTotal$ | async"
          [nzSize]="'small'"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="onPageIndexChange($event)"
        />

        <nz-input-group nzPrefixIcon="search">
          <input
            nz-input
            type="text"
            id="organizer-search-input"
            placeholder="Search tasks by name"
            [(ngModel)]="searchTerm"
            (input)="onTaskSearching()"
            required
          />
        </nz-input-group>

        @if (!((filteredTodos$ | async)?.length) && searchTerm) {
          <div class="text-white">
            No tasks with this term
          </div>
        } @else {
          <ul class="todo-list">
            @let sliceActiveTodos = todos.slice(pageSize * pageIndex - 5, pageSize * pageIndex);
            @for (todo of sliceActiveTodos; track todo.id) {
              <li class="todo-item cursor-pointer" (click)="onTaskCompletionUpdate(todo.id)">
                <span class="text-base select-none break-words full-width pr-2 break-all" [class.completed]="todo.isCompleted">{{ todo.name }}</span>
                <span class="delete-button">
                <nz-icon class="text-base cursor-pointer" nzType="close" nzTheme="outline" (click)="onTaskDelete(todo.id)" />
              </span>
              </li>
            } @empty {
              <div class="text-white">
                No active tasks {{ searchTerm && 'with this term' }}
              </div>
            }
          </ul>
        }
      }
    }
  </div>
</div>
