[nz-form] {
  max-width: 600px;
  min-width: 250px;
}

.register-area {
  margin-bottom: 8px;
}

.ant-form {
  padding: 2rem;
  .ant-form-item {
    margin-bottom: 2rem;
  }

  .login-link {
    color: #dbeafe;
  }
}

@media screen and (min-width: 768px) {
  [nz-form] {
    min-width: 350px;
  }
}
